.vspace30 {
	height: 30px;
}

.results-box {
	background-color: #fafafa;
	border: 1px solid #cccccc;
	padding: 5px;
	overflow: scroll;
	height: 500px;
	max-height: 500px
}
.file-path-box {
	border: 1px solid #cccccc;
	background-color: #eafff0;
	padding: 5px;
}
