@import url("backoffice.css");

.yw-image-attribute {
	&-approval-status {
		&-check:before {
			background-image: url("images/icon-product-approval-status-check.svg");
		}
		&-enrich:before {
			background-image: url("images/icon-product-approval-status-enrich.svg");
		}
		&-proof:before {
			background-image: url("images/icon-product-approval-status-proof.svg");
		}
	}
}

.yw-summaryview {
	&-approval-status {
		&-check {
			background-image: url("images/icon-product-approval-status-check.svg");
		}
		&-enrich {
			background-image: url("images/icon-product-approval-status-enrich.svg");
		}
		&-proof {
			background-image: url("images/icon-product-approval-status-proof.svg");
		}
	}
}
